name: build-and-push-ecr

on:
  push:
    branches:
      - main
      - staging
      - develop
    paths:
      - "app/**"
      - ".github/workflows/build-and-push-ecr.yml"
      - "Dockerfile"
  workflow_dispatch:

env:
  APP_NAME: "mynewdemo"
  AWS_REGION: "us-east-1"
  # Your shared ECR repo
  ECR_REPOSITORY: "784934815450.dkr.ecr.us-east-1.amazonaws.com/mynewdemo"

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        run: |
          IMAGE_URI=${{ env.ECR_REPOSITORY }}

          echo "Building image: $IMAGE_URI"

          # build from ./app as context
          docker build \
            -t $IMAGE_URI:latest \
            -t $IMAGE_URI:${{ github.sha }} \
            ./app

          docker push $IMAGE_URI:latest
          docker push $IMAGE_URI:${{ github.sha }}
