name: ci-cd-pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "*/5 * * * *"
jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build step
        run: echo "Godwin, the build job is running successfully!"
    
      - name: Print timestamp
        run: | 
        echo "Current UTC time: $$(date -u)" 

      - name: List project files
        run: ls -la

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Deploy placeholder
        run: echo "Pretend deployment to AWS successful and working as expected!"
