name: ci-cd-pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build step
        run: echo "Build job is running successfully!"

      - name: List project files
        run: ls -la

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Deploy placeholder
        run: echo "Pretend deployment to AWS successful!"
